%h1 Список школьников
%br
= link_to 'Добавить', new_schoolkid_path
\|
= link_to 'Поиск', search_schoolkids_path
-unless @groups.blank?
  %ul
    - @groups.each do |group|
      %li=link_to group.number, :anchor=>group.number  
  - @groups.each do |group|
    %a{:id=>group.number}=link_to group.number, group
    %table
      %thead
        %tr
          %th №
          %th ФИО
          %th
          %th
      %tbody
        - i = 1
        - group.schoolkids.each do |schoolkid|
          %tr
            %td= i
            %td=link_to schoolkid.fio, schoolkid
            %td= link_to 'Редактировать', edit_schoolkid_path(schoolkid)
            %td= link_to 'Удалить', schoolkid, :confirm => 'Вы уверены?', :method => :delete
            - i += 1
    %br
