!!!

%html
  %head
    %title Система
    = stylesheet_link_tag 'reset', 'main', '2col', 'style', 'mystyle','token-input-facebook', 'jquery-ui-1.8.16.custom', 'MultSelect'
    /[if lte IE 6]
      =stylesheet_link_tag 'main-ie6'
    =javascript_include_tag 'application', 'jquery.tokeninput', 'jquery-ui-1.8.16.custom.min'
    = csrf_meta_tag
  %body
    -if @current_user
      #main
        = render 'layouts/tray'
        %hr.noscreen
        = render 'layouts/menu'
        %hr.noscreen
        #cols.box
          = render 'layouts/aside'
          %hr.noscreen
          #content.box
            -unless notice.blank?
              .msg.done=notice
            -unless flash[:error].blank?
              .msg.error=flash[:error]
            = yield
        %hr.noscreen
        = render 'layouts/footer'
    -else
      = yield